<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    <h1>{{title}}</h1>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/showWeather">Weather</a>
    </div>
</body>
</html> 